PassCrack/.vs
PassCrack/PassCrack/bin/Debug/net6.0
PassCrack/PassCrack/obj/
PassCrack/PassCrack.Client/obj/
*.zip
*.dll
PassCrack/PassCrack.Client/bin/Debug/net6.0/PassCrack.Client.deps.json
PassCrack/PassCrack.Client/bin/Debug/net6.0/PassCrack.Client.pdb
PassCrack/PassCrack.Client/bin/Debug/net6.0/PassCrack.Host.deps.json
PassCrack/PassCrack.Client/bin/Debug/net6.0/PassCrack.Host.pdb
/PassCrack/PassCrack.Client/bin/Release/net6.0/win-x86
/PassCrack/PassCrack/bin/Release/net6.0/win-x86
/PassCrack/PassCrack/Properties/PublishProfiles
/PassCrack/PassCrack.Client/Properties/PublishProfiles
